/* stylelint-disable selector-list-comma-newline-after */
body, html, iframe, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre,
ul, ol, li, dl, dt, dd, form, a, fieldset, input, th, td, code, legend, textarea,
button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font: 12px/1.5 'Microsoft YaHei', 'SimSun', tahoma, arial, 'Hiragino Sans GB', sans-serif;
    list-style: none;
    font-style: normal;
}
/* stylelint-enble */